body{
    margin: 0;
    text-align: center;
    background-size: cover;
    background-position: center;
    position: relative;
}
.details{
    background-color: #b7bbbc;
    background-size: cover;
    background-position: center;
    position: relative;
    display: fixed;
}
h1{
    font-size: 40px;
    margin: 0px;
    margin-bottom: 10px;
    font-family: sans-serif;
    background: linear-gradient(to right, #07ff24, #000000, #7e57c2, #fe0b95, #ff0202, #43a047, #ff00ff, #f9a825, #ff5722);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0 auto 0 auto;
    font-family: serif;
}

.bubble img{
    width: 50px;
    animation: bubble 7s linear infinite ;
}
.bubble{
    
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: 0;
}
@keyframes bubble {
    0%{
        transform: translateY(0);
        opacity: 0;
    }
    50%{
        
        opacity: 1;
    }
    70%{
        
        opacity: 1;
    }
    100%{
        transform: translateY(-310vh);
        opacity: 0;
    }
    
}
.bubble img:nth-child(1){
    animation-delay: 2s;
}
.bubble img:nth-child(2){
    animation-delay: 1s;
}
.bubble img:nth-child(3){
    animation-delay: 3s;
}
.bubble img:nth-child(4){
    animation-delay: 4.5s;
}
.bubble img:nth-child(5){
    animation-delay: 6s;
}
.bubble img:nth-child(6){
    animation-delay: 7s;
}
.bubble img:nth-child(7){
    animation-delay: 7s;
}
.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left; 
    line-height: 2;
    
}
.programmer{
    width:40%;
    float: left; 
    margin-right: 30px;
}
.web{
    width:40%;
    float: right;
    margin-left: 30px; 
}
.rainbow{
    font-size: 40px;
    margin: 0px;
    margin-bottom: 10px;
    font-family: sans-serif;
    background: linear-gradient(to right, #07ff24, #000000, #7e57c2, #fe0b95, #ff0202, #43a047, #ff00ff, #f9a825, #ff5722);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0 auto 0 auto;
    font-family: serif; 
}
.profile{
    background-color: #b7bbbc;
    background-position: center;
}
.link{
    text-decoration: none;
}
.link:hover{
    color: white;
}
.bottom-container{
    background-color: green  ;
    padding: 20px 0;
}
.link2 {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.link2:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    text-decoration: none;
}
*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}
.sidebar{
    position: fixed;
    left: -250px;
    width: 160px;
    height: 100%;
    background: #042331;
    transition: all .5s ease;
}
.sidebar header{
    font-size: 22px;
    color: white;
    text-align: center;
    line-height: 70px;
    background: #063146;
    user-select: none;

}
.sidebar ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: white;
    padding-left:40px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255, 255, 255, .1);
    border-bottom: 1px solid black;
    transition: .4s;
}
ul li:hover a{
    padding-left: 50px;
}
.sidebar ul a i{
    margin-right: 16px;

}
#check{
    display: none;

}
label #btn,label #cancel{
    position: absolute;
    cursor: pointer;
    background: #042331;
    border-radius: 3px;
}
label #btn{
    left: 40px;
    top: 25px;
    font-size: 35px;
    color: white;
    padding: 6px 12px;
    transition: all .5s;

}
label #cancel{
    z-index: 1111;
    left: -195px;
    top: 17px;
    font-size: 30px;
    color: #0a5275;
    padding: 4px 9px;
    transition: all .5s ease;
    
}
#check:checked ~ .sidebar{
    left: 0;

}
#check:checked ~label #btn{
    left: 120px;
    opacity: 0;
    pointer-events: none;

}
#check:checked ~label #cancel{
    left: 120px;
    

}
.text{
    color: rgb(0, 0, 0);
}
